
<div class="header">
	<div class="logo">
		<%=image_tag("tap-dc.png")%>
	</div>

	<div class="links">
		<div class="link-items">
			<%= link_to "Register", controller: "home", action: "Register"%>
		</div>
		<div class="link-items">
			<%= link_to "Program", controller: "home", action: "Program"%>
		</div>
		<div class="link-items">
			<%= link_to "Speakers", controller: "home", action: "Speakers"%>
		</div>
		<div class="link-items">
			<%= link_to "Logistics", controller: "home", action: "Logistics"%>
		</div>
		<div class="link-items">
			<%= link_to "Fun", controller: "home", action: "Fun"%>
		</div>
		<div class="link-items">
			<%= link_to "About", controller: "home", action: "About"%>
		</div>
	</div>
</div>